<?xml version="1.0" encoding="UTF-8"?>
<component>
  <componentName>component-flume-agent</componentName>
  <componentDescription>component-flume-agent</componentDescription>
  <componentClass>com.chinasofti.ark.bdsdp.component.FlumeAgentComponent</componentClass>
  <componentIcon>icon-xl.png,icon-xs.png</componentIcon>
  <componentPid>component_pid_common</componentPid>
  <params>
    <!--<param>-->
    <!--<name>source.type</name>-->
    <!--<description>source.type</description>-->
    <!--<type>text</type>-->
    <!--<nullable>false</nullable>-->
    <!--</param>-->
    <param>
      <name>source.bind</name>
      <description>source.bind</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>source.port</name>
      <description>source.port</description>
      <type>number</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>channel.type</name>
      <description>channel.type</description>
      <type>options</type>
      <nullable>false</nullable>
      <defaultOptions>
        <option desc="memory" name="memory" value="memory"/>
        <option desc="file" name="file" value="file"/>
      </defaultOptions>
    </param>
    <param>
      <name>channel.capacity</name>
      <description>channel.capacity</description>
      <type>number</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>channel.transactionCapacity</name>
      <description>channel.transactionCapacity</description>
      <type>number</type>
      <nullable>false</nullable>
    </param>
    <!--<param>-->
    <!--<name>sinks</name>-->
    <!--<description>sinks</description>-->
    <!--<type>text</type>-->
    <!--<nullable>false</nullable>-->
    <!--</param>-->
    <!--<param>-->
    <!--<name>sink1.type</name>-->
    <!--<description>sink1.type</description>-->
    <!--<type>text</type>-->
    <!--<nullable>false</nullable>-->
    <!--</param>-->
    <param>
      <name>sink1.kafka.bootstrap.servers</name>
      <description>sink1.kafka.bootstrap.servers</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>sink1.kafka.topic</name>
      <description>sink1.kafka.topic</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>sink1.kafka.flumeBatchSize</name>
      <description>sink1.kafka.flumeBatchSize</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <!--<param>-->
    <!--<name>processor.type</name>-->
    <!--<description>processor.type</description>-->
    <!--<type>text</type>-->
    <!--<nullable>false</nullable>-->
    <!--</param>-->
    <param>
      <name>dbURL</name>
      <description>dbURL</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>dbUser</name>
      <description>dbUser</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>dbPassword</name>
      <description>dbPassword</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>dbCatalog</name>
      <description>dbCatalog</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>schemaPattern</name>
      <description>schemaPattern</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>tableNamePattern</name>
      <description>tableNamePattern</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
    <param>
      <name>columnNamePattern</name>
      <description>columnNamePattern</description>
      <type>text</type>
      <nullable>false</nullable>
    </param>
  </params>
</component>
